[Desktop Entry]
Name=Bups
Exec=bash -c 'cd "$(dirname "$1")/../"; ./bups.py' dummy %k
Icon=drive-harddisk
Terminal=false
Type=Application
Categories=System
